<p>
  <b>Name:</b>
  <%=h @artist.name %>
</p>

<p>
  <b>Wikipedia url:</b>
  <%=h @artist.wikipedia_url %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>